body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}
.table {
    color: white;
}
.btn-ver {
    display: inline-block;
    padding: 8px 12px;
    background: #4CAF50; /* Verde */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-ver:hover {
    background: #388E3C;
    transform: scale(1.05);
}

.btn-generar {
    display: inline-block;
    padding: 8px 12px;
    background: #FF9800; /* Naranja */
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-generar:hover {
    background: #F57C00;
    transform: scale(1.05);
}
.hidden { display: none; }

.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

